---
import Layout from "../layouts/Layout.astro";
import { actions } from "astro:actions";

const { email } = Astro.locals;
const result = Astro.getActionResult(actions.auth.signout);
if (result && !result.error) {
  return Astro.redirect("/signin");
}
---

<Layout title="Dashboard">
  <h1>Welcome {email}</h1>
  <form method="POST" action={actions.auth.signout}>
    <button type="submit">Sign out</button>
  </form>
</Layout>
